@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background: linear-gradient(to bottom, #dc0a2d, #fe3354);
    font: normal 14pt Arial;
    text-align: center;
    min-height: 100vh;
}

main {
    padding-top: 128px;
}

section#dex {
    background: #dedede;
    width: 100%;
    max-width: 300px;
    min-width: 230px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 3px #715c61;
}

section#dexScreen {
    background: white;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.screen_image {
    position: relative;
    max-height: 200px;
    min-height: 100px;
}

.screen_text {
    position: relative;
    bottom: 3px;
}

img#pokeImage {
    top: 30%;
    left: 55%;
    height: 40%;
    transform: translate(-63%, 20%);
    position: absolute;
}

.pokemon_dados {
    font-weight: 600;
    text-align: center;
    font-size: clamp(8px, 5vw, 25px);
}

#pokeName {
    text-transform: capitalize;
}

#poke_background {
    width: 96%;
    max-height: 200px;
    position: relative;
    padding-top: 5px;
    border-radius: 15px;
}

input#searchInput {
    width: 84%;
    height: 25px;
    text-align: center;
    font-size: clamp(8px, 5vw, 1rem);
    padding: 4%;
    border-width: 1px;
    border-radius: 3px;
    border-color: #dedede;
}

input[type=button] {
    height: 25px;
    background: #28aafe;
    color: white;
    text-align: center;
    font-size: clamp(8px, 5vw, 1rem);
    border-radius: 3px;
    border-width: 1px;
    border-color: #28aafe;
    box-shadow: 1px 2px #19699e;
    cursor: pointer;
}

input#btnSearch {
    width: 12%;
    bottom: 3px;
}

input#btnPrevious {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 49%;
}

input#btnNext {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 49%;
}

input[type=button]:active {
    box-shadow: 0px 0px #19699e;
    transform: translateY(1px);
    font-size: 0.9rem;
}

footer {
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #28aafe;
}