body {
    background: #dc0a2d;
    font: normal 14pt Arial;
    text-align: center;
}

section#dex {
    background: #dedede;
    width: 300px;
    height: auto;
    padding: 10px;
    padding-bottom: 1px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 3px #715c61;
}

section#dexScreen {
    background: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

p#pokeName {
    padding-top: 10px;
}

input#txtPoke {
    width: 250px;
    height: 24px;
    text-align: center;
    border-width: 1px;
    border-radius: 3px;
    border-color: #dedede;
}

input[type=button] {
    height: 25px;
    background: #28aafe;
    color: white;
    text-align: center;
    border-radius: 3px;
    border-width: 1px;
    border-color: #28aafe;
    box-shadow: 1px 2px #19699e;
    cursor: pointer;
}

input#btnSearch {
    width: 35px;
}

input#btnPrevious {
    width: 145px;
}

input#btnNext {
    width: 145px;
}

input[type=button]:active {
    box-shadow: 0px 0px #19699e;
    transform: translateY(1px);
}

footer {
    padding-top: 10px;
}